# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.env.local
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build outputs
.next/
out/

#hifeqwfewqfewqfewqfefeewqffwqenefwqnqwfenjjfqweinjfqifqwqwerqwrewqrwqereqwrweq

../backend/services/.env*